In [1]:
# Install Beautifulsoup
# !pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\simplon.co\anaconda3\lib\site-packages (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\simplon.co\anaconda3\lib\site-packages (from beautifulsoup4) (2.2.1)

In [97]:
# Import libraries
from bs4 import BeautifulSoup
import requests

import pandas as pd

In [155]:
# Define variables useful for later code

# Define header language for getting data in english
headers = {"Accept-Language": "en-US,en;q=0.5"}

# Create a list for later use (adding each movie data into this list)
movies_data = []

# Create a list of urls that we need to scrape all the movies that we need (250)
urls = ['https://www.imdb.com/search/title/?groups=top_250&sort=user_rating', 
        'https://www.imdb.com/search/title/?groups=top_250&sort=user_rating,desc&start=51',
        'https://www.imdb.com/search/title/?groups=top_250&sort=user_rating,desc&start=101',
        'https://www.imdb.com/search/title/?groups=top_250&sort=user_rating,desc&start=151',
        'https://www.imdb.com/search/title/?groups=top_250&sort=user_rating,desc&start=201']

# page = 1

# while page <= 250:
#     url = f'https://www.imdb.com/search/title/?groups=top_250&sort=user_rating,desc&start={page}'

#     for url in urls:
#         # Get html page
#         data = requests.get(url, headers=headers)

#         # Add html data to BeautifulSoup
#         soup =  BeautifulSoup(data.text, 'html.parser')

#         # Loop through each div with the content that we need (class = 'lister-item-content')
#         for div in soup.find_all('div', { 'class' : 'lister-item-content' }):
#             # Get movie's title and keep only the text
#             title = div.find('a')
#             title_text = title.text
#             # Get movies's year and keep only the text
#             year = div.find("span", class_="lister-item-year").text
#             # Get movies's runtime and keep only the text
#             runtime = div.find('span', {'class':'runtime'}).text
#             # Get movies's genre and keep only the text
#             genre = div.find('span', {'class':'genre'}).text.strip()

#             # Add data of each movie in a list
#             data_list = [title_text, year, runtime, genre]

#             # Add all these data into a movies_data list
#             movies_data.append(data_list)
#         page += 50

# # Create a list of urls that we need to scrape all the movies that we need (250)
# urls = ['https://www.imdb.com/search/title/?groups=top_250&sort=user_rating', 
#         'https://www.imdb.com/search/title/?groups=top_250&sort=user_rating,desc&start=51',
#         'https://www.imdb.com/search/title/?groups=top_250&sort=user_rating,desc&start=101',
#         'https://www.imdb.com/search/title/?groups=top_250&sort=user_rating,desc&start=151',
#         'https://www.imdb.com/search/title/?groups=top_250&sort=user_rating,desc&start=201']

In [156]:
# Loop through urls
for url in urls:
    # Get html page
    data = requests.get(url, headers=headers)
    
    # Add html data to BeautifulSoup
    soup =  BeautifulSoup(data.text, 'html.parser')
    
    # Loop through each div with the content that we need (class = 'lister-item-content')
    for div in soup.find_all('div', { 'class' : 'lister-item-content' }):
        # Get movie's title and keep only the text
        title = div.find('a')
        title_text = title.text
        # Get movies's year and keep only the text
        year = div.find("span", class_="lister-item-year").text
        # Get movies's runtime and keep only the text
        runtime = div.find('span', {'class':'runtime'}).text
        # Get movies's genre and keep only the text
        genre = div.find('span', {'class':'genre'}).text.strip()

        # Add data of each movie in a list
        data_list = [title_text, year, runtime, genre]
        
        # Add all these data into a movies_data list
        movies_data.append(data_list)

In [157]:
# Create dataframe from movies_data list
movies_df = pd.DataFrame (movies_data, columns = ['title', 'year_of_release', 'duration_in_minutes', 'genre'])
movies_df

,title,year_of_release,duration_in_minutes,genre
0,The Shawshank Redemption,(1994),142 min,Drama
1,The Godfather,(1972),175 min,"Crime, Drama"
2,The Dark Knight,(2008),152 min,"Action, Crime, Drama"
3,The Godfather: Part II,(1974),202 min,"Crime, Drama"
4,12 Angry Men,(1957),96 min,"Crime, Drama"
...,...,...,...,...
245,Mr. Smith Goes to Washington,(1939),129 min,"Comedy, Drama"
246,Gone with the Wind,(1939),238 min,"Drama, History, Romance"
247,It Happened One Night,(1934),105 min,"Comedy, Romance"
248,The Passion of Joan of Arc,(1928),114 min,"Biography, Drama, History"
249,The General,(1926),67 min,"Action, Adventure, Comedy"

In [158]:
# Keep only useful characters and change type of duration_in_minutes
movies_df["duration_in_minutes"] = movies_df["duration_in_minutes"].str[:3].astype(int)
movies_df["year_of_release"] = movies_df["year_of_release"].str[1:5]
movies_df

,title,year_of_release,duration_in_minutes,genre
0,The Shawshank Redemption,1994,142,Drama
1,The Godfather,1972,175,"Crime, Drama"
2,The Dark Knight,2008,152,"Action, Crime, Drama"
3,The Godfather: Part II,1974,202,"Crime, Drama"
4,12 Angry Men,1957,96,"Crime, Drama"
...,...,...,...,...
245,Mr. Smith Goes to Washington,1939,129,"Comedy, Drama"
246,Gone with the Wind,1939,238,"Drama, History, Romance"
247,It Happened One Night,1934,105,"Comedy, Romance"
248,The Passion of Joan of Arc,1928,114,"Biography, Drama, History"
249,The General,1926,67,"Action, Adventure, Comedy"

In [159]:
# Export the dataframe with to_csv() 
movies_df.to_csv('data/top_250_imdb_eng.csv', encoding='utf-8', index=False)