In [1]:
# Import libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Import python scrip
import scraper

In [6]:
# Execute scraper.py script
%run scraper.py

In [5]:
# Import csv created by our scraper.py script
top_df = pd.read_csv('data/top_250_imdb_eng_scraper.csv')
top_df

,title,year_of_release,duration_in_minutes,genre
0,The Shawshank Redemption,1994,142,Drama
1,The Godfather,1972,175,"Crime, Drama"
2,The Dark Knight,2008,152,"Action, Crime, Drama"
3,The Godfather: Part II,1974,202,"Crime, Drama"
4,12 Angry Men,1957,96,"Crime, Drama"
...,...,...,...,...
245,Mr. Smith Goes to Washington,1939,129,"Comedy, Drama"
246,Gone with the Wind,1939,238,"Drama, History, Romance"
247,It Happened One Night,1934,105,"Comedy, Romance"
248,The Passion of Joan of Arc,1928,114,"Biography, Drama, History"
249,The General,1926,67,"Action, Adventure, Comedy"

In [3]:
# Define header language for getting data in english
headers = {"Accept-Language": "en-US,en;q=0.5"}

score_data = []

In [48]:
score_data = []

# Define header language for getting data in english
headers = {"Accept-Language": "en-US,en;q=0.5"}

uri = 'https://www.rottentomatoes.com/m/'

for title in top_df['title']:
    changed_title = title.replace(" ", "_").replace("The_", "").replace(":", "").replace(".", "").replace("'", "").replace("-", "").replace(",", "").replace("ä", "").replace("__","_")   
    url = f'{uri}{changed_title}'
    data = requests.get(url, headers=headers)
    
    if data.status_code == 404:
        score_list = ['not found', 'not_found']
        score_data.append(score_list)

    else:
        soup = BeautifulSoup(data.text, 'html.parser')

        audience_score = soup.find("score-board")["audiencescore"]
        tomato_score = soup.find("score-board")["tomatometerscore"]

        score_list = [tomato_score, audience_score]

        score_data.append(score_list)
        
# print(score_data)

[['91', '98'], ['97', '98'], ['not found', 'not_found'], ['96', '97'], ['not found', 'not_found'], ['not found', 'not_found'], ['92', '96'], ['98', '97'], ['87', '91'], ['79', '96'], ['not found', 'not_found'], ['71', '95'], ['97', '97'], ['not found', 'not_found'], ['88', '85'], ['96', '97'], ['not found', 'not_found'], ['94', '96'], ['', ''], ['72', '86'], ['91', '97'], ['97', '96'], ['93', '95'], ['78', '94'], ['not found', 'not_found'], ['not found', 'not_found'], ['96', '95'], ['not found', 'not_found'], ['100', '97'], ['not found', 'not_found'], ['94', '95'], ['not found', 'not_found'], ['75', '93'], ['76', '92'], ['90', '94'], ['95', '96'], ['77', '87'], ['83', '96'], ['88', '96'], ['not found', 'not_found'], ['93', '93'], ['93', '94'], ['90', '97'], ['100', '95'], ['96', '94'], ['95', '95'], ['96', '95'], ['97', '94'], ['98', '95'], ['not found', 'not_found'], ['98', '95'], ['98', '96'], ['not found', 'not_found'], ['90', '93'], ['', ''], ['not found', 'not_found'], ['88', '94'], ['not found', 'not_found'], ['94', '90'], ['85', '91'], ['', ''], ['87', '91'], ['not found', 'not_found'], ['100', '93'], ['91', '96'], ['not found', 'not_found'], ['not found', 'not_found'], ['81', '94'], ['93', '94'], ['not found', 'not_found'], ['95', '96'], ['84', '93'], ['98', '94'], ['98', '94'], ['95', '95'], ['not found', 'not_found'], ['100', '95'], ['95', '95'], ['not found', 'not_found'], ['93', '95'], ['not found', 'not_found'], ['', '20'], ['not found', 'not_found'], ['92', '92'], ['', ''], ['89', '88'], ['92', '94'], ['not found', 'not_found'], ['74', '93'], ['79', '93'], ['87', '93'], ['98', '94'], ['83', '96'], ['100', '92'], ['not found', 'not_found'], ['92', '94'], ['92', '94'], ['not found', 'not_found'], ['not found', 'not_found'], ['87', '93'], ['93', '95'], ['82', '93'], ['not found', 'not_found'], ['98', '95'], ['73', '94'], ['not found', 'not_found'], ['not found', 'not_found'], ['92', '89'], ['93', '92'], ['93', '93'], ['not found', 'not_found'], ['97', '94'], ['94', '93'], ['100', '95'], ['98', '97'], ['98', '94'], ['97', '95'], ['99', '90'], ['not found', 'not_found'], ['not found', 'not_found'], ['not found', 'not_found'], ['100', '91'], ['77', '91'], ['not found', 'not_found'], ['94', '96'], ['88', '89'], ['97', '90'], ['89', '93'], ['', '75'], ['not found', 'not_found'], ['98', '90'], ['not found', 'not_found'], ['not found', 'not_found'], ['91', '86'], ['95', '91'], ['98', '90'], ['84', '94'], ['90', '94'], ['87', '93'], ['74', '93'], ['75', '93'], ['99', '94'], ['not found', 'not_found'], ['not found', 'not_found'], ['', ''], ['', ''], ['88', '94'], ['94', '94'], ['94', '94'], ['96', '95'], ['94', '93'], ['86', '92'], ['96', '93'], ['97', '95'], ['99', '93'], ['94', '93'], ['92', '94'], ['94', '95'], ['95', '96'], ['92', '93'], ['94', '94'], ['96', '94'], ['94', '93'], ['89', '92'], ['100', '93'], ['98', '93'], ['not found', 'not_found'], ['100', '93'], ['96', '93'], ['not found', 'not_found'], ['92', '95'], ['90', '87'], ['not found', 'not_found'], ['not found', 'not_found'], ['not found', 'not_found'], ['94', '92'], ['not found', 'not_found'], ['87', '87'], ['84', '91'], ['', '36'], ['95', '90'], ['', ''], ['92', '98'], ['not found', 'not_found'], ['', ''], ['97', '86'], ['not found', 'not_found'], ['81', '90'], ['96', '89'], ['64', '84'], ['not found', 'not_found'], ['99', '91'], ['83', '89'], ['93', '86'], ['73', '90'], ['90', '90'], ['91', '94'], ['94', '92'], ['', ''], ['85', '81'], ['99', '86'], ['96', '89'], ['not found', 'not_found'], ['96', '90'], ['not found', 'not_found'], ['86', '90'], ['95', '89'], ['83', '93'], ['not found', 'not_found'], ['91', '93'], ['94', '93'], ['100', '95'], ['100', '93'], ['not found', 'not_found'], ['92', '91'], ['94', '95'], ['85', '92'], ['98', '94'], ['', ''], ['87', '93'], ['94', '93'], ['not found', 'not_found'], ['34', '42'], ['100', '94'], ['90', '91'], ['', '86'], ['', ''], ['95', '93'], ['92', '92'], ['', ''], ['92', '93'], ['91', '92'], ['100', '95'], ['91', '94'], ['95', '93'], ['99', '95'], ['94', '92'], ['98', '94'], ['86', '89'], ['100', '94'], ['95', '93'], ['99', '95'], ['100', '95'], ['99', '93'], ['39', '39'], ['96', '94'], ['90', '92'], ['99', '93'], ['98', '93'], ['not found', 'not_found']]

In [95]:
test_df = top_df.copy()
test_df

,title,year_of_release,duration_in_minutes,genre
0,The Shawshank Redemption,1994,142,Drama
1,The Godfather,1972,175,"Crime, Drama"
2,The Dark Knight,2008,152,"Action, Crime, Drama"
3,The Godfather: Part II,1974,202,"Crime, Drama"
4,12 Angry Men,1957,96,"Crime, Drama"
...,...,...,...,...
245,Mr. Smith Goes to Washington,1939,129,"Comedy, Drama"
246,Gone with the Wind,1939,238,"Drama, History, Romance"
247,It Happened One Night,1934,105,"Comedy, Romance"
248,The Passion of Joan of Arc,1928,114,"Biography, Drama, History"
249,The General,1926,67,"Action, Adventure, Comedy"

In [96]:
score_df = pd.DataFrame(score_data, columns = ['tomato_meter','audience_score']) 
score_df

    tomato_meter audience_score
0             91             98
1             97             98
2      not found      not_found
3             96             97
4      not found      not_found
..           ...            ...
245           96             94
246           90             92
247           99             93
248           98             93
249    not found      not_found

[250 rows x 2 columns]

In [97]:
score_df = pd.DataFrame(score_data, columns = ['tomato_meter','audience_score']) 
test_df['tomato_meter'] = score_df['tomato_meter']
test_df['audience_score'] = score_df['audience_score']

In [98]:
test_df

,title,year_of_release,duration_in_minutes,genre,tomato_meter,audience_score
0,The Shawshank Redemption,1994,142,Drama,91,98
1,The Godfather,1972,175,"Crime, Drama",97,98
2,The Dark Knight,2008,152,"Action, Crime, Drama",not found,not_found
3,The Godfather: Part II,1974,202,"Crime, Drama",96,97
4,12 Angry Men,1957,96,"Crime, Drama",not found,not_found
...,...,...,...,...,...,...
245,Mr. Smith Goes to Washington,1939,129,"Comedy, Drama",96,94
246,Gone with the Wind,1939,238,"Drama, History, Romance",90,92
247,It Happened One Night,1934,105,"Comedy, Romance",99,93
248,The Passion of Joan of Arc,1928,114,"Biography, Drama, History",98,93
249,The General,1926,67,"Action, Adventure, Comedy",not found,not_found

In [260]:
# test_df['tomato_meter'].value_counts()

In [ ]:
missing_data_1 = []

for title in missing_df['title']:
    if 'The' in title:
        changed_title = title.replace(" ", "_").replace(":", "").replace("é", "e")
        
        url = f'{uri}{changed_title}'
        data = requests.get(url, headers=headers)
        
        if data.status_code == 404:
            missing_list = [title, 'not found', 'not_found']
            missing_data_1.append(missing_list)
        
        else:
            soup = BeautifulSoup(data.text, 'html.parser')

            audience_score = soup.find("score-board")["audiencescore"]
            tomato_score = soup.find("score-board")["tomatometerscore"]

            missing_list = [title, tomato_score, audience_score]
            missing_data_1.append(missing_list)
            
print(missing_data_1)

In [100]:
missing_df = test_df[(test_df['tomato_meter'] == 'not found') & (test_df['audience_score'] == 'not_found')]
missing_df

,title,year_of_release,duration_in_minutes,genre,tomato_meter,audience_score
2,The Dark Knight,2008,152,"Action, Crime, Drama",not found,not_found
4,12 Angry Men,1957,96,"Crime, Drama",not found,not_found
5,The Lord of the Rings: The Return of the King,2003,201,"Action, Adventure, Drama",not found,not_found
10,The Lord of the Rings: The Fellowship of the Ring,2001,178,"Action, Adventure, Drama",not found,not_found
13,The Lord of the Rings: The Two Towers,2002,179,"Action, Adventure, Drama",not found,not_found
16,Star Wars: Episode V - The Empire Strikes Back,1980,124,"Action, Adventure, Fantasy",not found,not_found
24,Life Is Beautiful,1997,116,"Comedy, Drama, Romance",not found,not_found
25,Se7en,1995,127,"Crime, Drama, Mystery",not found,not_found
27,Star Wars: Episode IV - A New Hope,1977,121,"Action, Adventure, Fantasy",not found,not_found
29,Seven Samurai,1954,207,"Action, Adventure, Drama",not found,not_found
31,Whiplash,2014,106,"Drama, Music",not found,not_found
39,Léon: The Professional,1994,110,"Action, Crime, Drama",not found,not_found
49,Casablanca,1942,102,"Drama, Romance, War",not found,not_found
52,Hamilton,2020,160,"Biography, Drama, History",not found,not_found
55,Your Name.,2016,106,"Animation, Drama, Fantasy",not found,not_found
57,Spider-Man: Into the Spider-Verse,2018,117,"Animation, Action, Adventure",not found,not_found
62,The Dark Knight Rises,2012,164,"Action, Crime",not found,not_found
65,WALL·E,2008,98,"Animation, Adventure, Family",not found,not_found
66,The Lives of Others,2006,137,"Drama, Mystery, Thriller",not found,not_found
69,Princess Mononoke,1997,134,"Animation, Action, Adventure",not found,not_found
75,Dr. Strangelove or: How I Learned to Stop Worr...,1964,95,"Comedy, Drama, War",not found,not_found
78,Sunset Blvd.,1950,110,"Drama, Film-Noir",not found,not_found
80,1917,2019,119,"Action, Drama, War",not found,not_found
82,A Separation,2011,123,Drama,not found,not_found
87,Amélie,2001,122,"Comedy, Romance",not found,not_found
94,Braveheart,1995,178,"Biography, Drama, History",not found,not_found
97,Come and See,1985,142,"Drama, Thriller, War",not found,not_found
98,Aliens,1986,137,"Action, Adventure, Sci-Fi",not found,not_found
102,Star Wars: Episode VI - Return of the Jedi,1983,131,"Action, Adventure, Fantasy",not found,not_found
105,The Sting,1973,129,"Comedy, Crime, Drama",not found,not_found
106,A Clockwork Orange,1971,136,"Crime, Drama, Sci-Fi",not found,not_found
110,The Apartment,1960,125,"Comedy, Drama, Romance",not found,not_found
118,M,1931,99,"Crime, Mystery, Thriller",not found,not_found
119,Metropolis,1927,153,"Drama, Sci-Fi",not found,not_found
120,The Kid,1921,68,"Comedy, Drama, Family",not found,not_found
123,A Silent Voice: The Movie,2016,130,"Animation, Drama",not found,not_found
129,Shutter Island,2010,138,"Mystery, Thriller",not found,not_found
131,The Wolf of Wall Street,2013,180,"Biography, Comedy, Crime",not found,not_found
132,My Father and My Son,2005,112,"Drama, Family",not found,not_found
142,The Bandit,1996,121,"Crime, Drama, Thriller",not found,not_found
143,Heat,1995,170,"Crime, Drama, Thriller",not found,not_found
166,All About Eve,1950,138,Drama,not found,not_found
169,The Gold Rush,1925,95,"Adventure, Comedy, Drama",not found,not_found
172,The Handmaiden,2016,145,"Drama, Romance, Thriller",not found,not_found
173,Logan,2017,137,"Action, Drama, Sci-Fi",not found,not_found
174,Room,I) (,118,"Drama, Thriller",not found,not_found
176,The Grand Budapest Hotel,2014,99,"Adventure, Comedy, Crime",not found,not_found
183,Spotlight,I) (,129,"Biography, Crime, Drama",not found,not_found
186,Warrior,2011,140,"Action, Drama, Sport",not found,not_found
190,Mary and Max,2009,92,"Animation, Comedy, Drama",not found,not_found
202,Love's a Bitch,2000,154,"Drama, Thriller",not found,not_found
204,Neon Genesis Evangelion: The End of Evangelion,1997,87,"Animation, Action, Drama",not found,not_found
208,In the Mood for Love,2000,98,"Drama, Romance",not found,not_found
213,Three Colors: Red,1994,99,"Drama, Mystery, Romance",not found,not_found
221,Nausicaä of the Valley of the Wind,1984,117,"Animation, Adventure, Fantasy",not found,not_found
249,The General,1926,67,"Action, Adventure, Comedy",not found,not_found

In [101]:
missing_data_1 = []

for title in missing_df['title']:
    if 'The' in title:
        changed_title = title.replace(" ", "_").replace(":", "").replace("é", "e")
#         print(changed_title)
        
        url = f'{uri}{changed_title}'
        data = requests.get(url, headers=headers)
        
        if data.status_code == 404:
            missing_list = [title, 'not found', 'not_found']
            missing_data_1.append(missing_list)
        
        else:
            soup = BeautifulSoup(data.text, 'html.parser')

            audience_score = soup.find("score-board")["audiencescore"]
            tomato_score = soup.find("score-board")["tomatometerscore"]

            missing_list = [title, tomato_score, audience_score]
            missing_data_1.append(missing_list)
            
print(missing_data_1)

[['The Dark Knight', '94', '94'], ['The Lord of the Rings: The Return of the King', '93', '86'], ['The Lord of the Rings: The Fellowship of the Ring', '91', '95'], ['The Lord of the Rings: The Two Towers', '95', '95'], ['Star Wars: Episode V - The Empire Strikes Back', 'not found', 'not_found'], ['Léon: The Professional', '74', '95'], ['The Dark Knight Rises', '87', '90'], ['The Lives of Others', '92', '96'], ['The Sting', 'not found', 'not_found'], ['The Apartment', '93', '94'], ['The Kid', '49', '49'], ['A Silent Voice: The Movie', 'not found', 'not_found'], ['The Wolf of Wall Street', '63', ''], ['The Bandit', 'not found', 'not_found'], ['The Gold Rush', '100', '93'], ['The Handmaiden', '95', '91'], ['The Grand Budapest Hotel', '92', '86'], ['Neon Genesis Evangelion: The End of Evangelion', '88', '85'], ['The General', '', '']]

In [72]:
replaced_df = pd.DataFrame(missing_data_1, columns= ["title", "tomato_meter", 'audience_score'])
replaced_df

,title,tomato_meter,audience_score
0,The Dark Knight,94,94
1,The Lord of the Rings: The Return of the King,93,86
2,The Lord of the Rings: The Fellowship of the Ring,91,95
3,The Lord of the Rings: The Two Towers,95,95
4,Star Wars: Episode V - The Empire Strikes Back,not found,not_found
5,Léon: The Professional,74,95
6,The Dark Knight Rises,87,90
7,The Lives of Others,92,96
8,The Sting,not found,not_found
9,The Apartment,93,94
10,The Kid,49,49
11,A Silent Voice: The Movie,not found,not_found
12,The Wolf of Wall Street,63,
13,The Bandit,not found,not_found
14,The Gold Rush,100,93
15,The Handmaiden,95,91
16,The Grand Budapest Hotel,92,86
17,Neon Genesis Evangelion: The End of Evangelion,88,85
18,The General,,

In [88]:
for title in test_df[]:
    print(title)
    
#     for t in replaced_df['title']:
#         print(t)
#         if test_df[title] == replaced_df[t]:
#             test_df["tomato_meter"] = replaced_df["tomato_meter"]
#             test_df["audience_score"] = replaced_df["audience_score"]
        
# test_df

The Shawshank Redemption
The Godfather
The Dark Knight
The Godfather: Part II
12 Angry Men
The Lord of the Rings: The Return of the King
Pulp Fiction
Schindler's List
Inception
Fight Club
The Lord of the Rings: The Fellowship of the Ring
Forrest Gump
The Good, the Bad and the Ugly
The Lord of the Rings: The Two Towers
The Matrix
Goodfellas
Star Wars: Episode V - The Empire Strikes Back
One Flew Over the Cuckoo's Nest
Parasite
Interstellar
City of God
Spirited Away
Saving Private Ryan
The Green Mile
Life Is Beautiful
Se7en
The Silence of the Lambs
Star Wars: Episode IV - A New Hope
Hara-Kiri
Seven Samurai
It's a Wonderful Life
Whiplash
The Intouchables
The Prestige
The Departed
The Pianist
Gladiator
American History X
The Usual Suspects
Léon: The Professional
The Lion King
Terminator 2: Judgment Day
Cinema Paradiso
Grave of the Fireflies
Back to the Future
Once Upon a Time in the West
Psycho
Pather Panchali
Rear Window
Casablanca
Modern Times
City Lights
Hamilton
Capernaum
Joker
Your Name.
Dangal
Spider-Man: Into the Spider-Verse
Avengers: Endgame
Avengers: Infinity War
Coco
Django Unchained
The Dark Knight Rises
3 Idiots
Like Stars on Earth
WALL·E
The Lives of Others
Oldboy
Memento
Princess Mononoke
Indiana Jones and the Raiders of the Lost Ark
The Shining
Apocalypse Now
Alien
High and Low
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb
Witness for the Prosecution
Paths of Glory
Sunset Blvd.
The Great Dictator
1917
The Hunt
A Separation
Incendies
The Father
Inglourious Basterds
Eternal Sunshine of the Spotless Mind
Amélie
Snatch
Requiem for a Dream
American Beauty
Good Will Hunting
Children of Heaven
Toy Story
Braveheart
Reservoir Dogs
Full Metal Jacket
Come and See
Aliens
Once Upon a Time in America
Amadeus
Scarface
Star Wars: Episode VI - Return of the Jedi
Das Boot
Dersu Uzala
The Sting
A Clockwork Orange
2001: A Space Odyssey
To Kill a Mockingbird
Lawrence of Arabia
The Apartment
North by Northwest
Vertigo
Singin' in the Rain
Ikiru
Bicycle Thieves
Double Indemnity
Citizen Kane
M
Metropolis
The Kid
Andhadhun
Green Book
A Silent Voice: The Movie
Klaus
Tangerines
Gangs of Wasseypur
The Secret in Their Eyes
Dune
Shutter Island
Up
The Wolf of Wall Street
My Father and My Son
There Will Be Blood
Pan's Labyrinth
Toy Story 3
Batman Begins
Downfall
Howl's Moving Castle
A Beautiful Mind
Lock, Stock and Two Smoking Barrels
L.A. Confidential
The Bandit
Heat
Casino
Unforgiven
Indiana Jones and the Last Crusade
My Neighbor Totoro
Die Hard
Ran
Raging Bull
Autumn Sonata
Taxi Driver
Monty Python and the Holy Grail
Chinatown
Z
For a Few Dollars More
The Great Escape
Yojimbo
Judgment at Nuremberg
Some Like It Hot
Wild Strawberries
The Seventh Seal
Dial M for Murder
Tokyo Story
Rashomon
All About Eve
The Treasure of the Sierra Madre
To Be or Not to Be
The Gold Rush
Sherlock Jr.
Three Billboards Outside Ebbing, Missouri
The Handmaiden
Logan
Room
Wild Tales
The Grand Budapest Hotel
Gone Girl
Hacksaw Ridge
Inside Out
12 Years a Slave
Rush
Ford v Ferrari
Spotlight
Prisoners
Mad Max: Fury Road
Warrior
Gran Torino
Harry Potter and the Deathly Hallows: Part 2
Hachi: A Dog's Tale
Mary and Max
How to Train Your Dragon
Into the Wild
No Country for Old Men
V for Vendetta
Million Dollar Baby
Hotel Rwanda
Before Sunset
Memories of Murder
Kill Bill: Vol. 1
Finding Nemo
Catch Me If You Can
Love's a Bitch
Monsters, Inc.
Neon Genesis Evangelion: The End of Evangelion
The Sixth Sense
The Truman Show
The Big Lebowski
In the Mood for Love
Trainspotting
Fargo
La Haine
Before Sunrise
Three Colors: Red
Jurassic Park
In the Name of the Father
Dead Poets Society
The Princess Bride
Stand by Me
Platoon
Paris, Texas
Nausicaä of the Valley of the Wind
The Thing
Fanny and Alexander
Blade Runner
The Elephant Man
Stalker
Monty Python's Life of Brian
The Deer Hunter
Rocky
Network
Barry Lyndon
Cool Hand Luke
Persona
Andrei Rublev
The Battle of Algiers
The Man Who Shot Liberty Valance
The 400 Blows
Ben-Hur
Nights of Cabiria
The Bridge on the River Kwai
On the Waterfront
The Wages of Fear
The Third Man
Rebecca
Mr. Smith Goes to Washington
Gone with the Wind
It Happened One Night
The Passion of Joan of Arc
The General

In [91]:
rows = replaced_df['title'].values
rows

array(['The Dark Knight', 'The Lord of the Rings: The Return of the King',
       'The Lord of the Rings: The Fellowship of the Ring',
       'The Lord of the Rings: The Two Towers',
       'Star Wars: Episode V - The Empire Strikes Back',
       'Léon: The Professional', 'The Dark Knight Rises',
       'The Lives of Others', 'The Sting', 'The Apartment', 'The Kid',
       'A Silent Voice: The Movie', 'The Wolf of Wall Street',
       'The Bandit', 'The Gold Rush', 'The Handmaiden',
       'The Grand Budapest Hotel',
       'Neon Genesis Evangelion: The End of Evangelion', 'The General'],
      dtype=object)

In [118]:
# for row in rows:
# #     print(row)
#     print(test_df[test_df['title'] == row])
    
    
    
# #         print('Yes')
# #         test_df['tomato_meter'] = replaced_df['tomato_meter']
# #         test_df['audience_score'] = replaced_df['audience_score']
        
# # test_df

In [247]:
merged_df = test_df.merge(replaced_df, on='title', how='left')
merged_df

,title,year_of_release,duration_in_minutes,genre,tomato_meter_x,audience_score_x,tomato_meter_y,audience_score_y
0,The Shawshank Redemption,1994,142,Drama,91,98,NaN,NaN
1,The Godfather,1972,175,"Crime, Drama",97,98,NaN,NaN
2,The Dark Knight,2008,152,"Action, Crime, Drama",not found,not_found,94,94
3,The Godfather: Part II,1974,202,"Crime, Drama",96,97,NaN,NaN
4,12 Angry Men,1957,96,"Crime, Drama",not found,not_found,NaN,NaN
...,...,...,...,...,...,...,...,...
245,Mr. Smith Goes to Washington,1939,129,"Comedy, Drama",96,94,NaN,NaN
246,Gone with the Wind,1939,238,"Drama, History, Romance",90,92,NaN,NaN
247,It Happened One Night,1934,105,"Comedy, Romance",99,93,NaN,NaN
248,The Passion of Joan of Arc,1928,114,"Biography, Drama, History",98,93,NaN,NaN
249,The General,1926,67,"Action, Adventure, Comedy",not found,not_found,,

In [259]:
merged_df.to_csv('data/rotten_score_added.csv')

In [240]:
# for i, (tomato, replaced_tomato) in enumerate(zip(merged_df['tomato_meter_x'], merged_df['tomato_meter_y'])):
# #     print(i, tomato, replaced_tomato)
#     if tomato == "not found":
#         merged_df['tomato_meter_x'] = replaced_tomato


# # for audience, replaced_audience in zip((merged_df['audience_score_x'], merged_df['audience_score_y']):
# # #     print(tomato, replaced_tomato)
# #     if audience == "not_found":
# #         merged_df['audience_score_x'] = replaced_audience

# for row, tomato, audience in zip(rows, merged_df['tomato_meter_y'], merged_df['audience_score_y']):
# #     print(row,tomato,audience)
#     test = merged_df[merged_df['title'] == row]
# #     print(test)
# #     print(test['tomato_meter_y'])
#     test['tomato_meter_x'] = test['tomato_meter_y']
#     merged_df[merged_df['title'] == row] = audience
        
# merged_df