### Scraper.py Instructions

In [11]:
# STEP 1 : import scraper.py
import scraper as scp

In [12]:
imdb_data = scp.imdb_fetch()

In [13]:
imdb_df = scp.create_imdb_dataframe(imdb_data)

In [14]:
imdb_df

,title,year_of_release,duration_in_minutes,genre
0,The Shawshank Redemption,1994,142,Drama
1,The Godfather,1972,175,"Crime, Drama"
2,The Dark Knight,2008,152,"Action, Crime, Drama"
3,The Godfather: Part II,1974,202,"Crime, Drama"
4,12 Angry Men,1957,96,"Crime, Drama"
...,...,...,...,...
245,Mr. Smith Goes to Washington,1939,129,"Comedy, Drama"
246,Gone with the Wind,1939,238,"Drama, History, Romance"
247,It Happened One Night,1934,105,"Comedy, Romance"
248,The Passion of Joan of Arc,1928,114,"Biography, Drama, History"
249,The General,1926,67,"Action, Adventure, Comedy"

In [5]:
rotten_data = scp.rotten_scores_fetch(imdb_df)

In [15]:
rotten_data

In [9]:
final_df = scp.create_rotten_df(rotten_data, imdb_df)

In [10]:
final_df

,title,year_of_release,duration_in_minutes,genre,tomato_meter,audience_score
0,The Shawshank Redemption,1994,142,Drama,91,98
1,The Godfather,1972,175,"Crime, Drama",97,98
2,The Dark Knight,2008,152,"Action, Crime, Drama",not found,not_found
3,The Godfather: Part II,1974,202,"Crime, Drama",96,97
4,12 Angry Men,1957,96,"Crime, Drama",not found,not_found
...,...,...,...,...,...,...
245,Mr. Smith Goes to Washington,1939,129,"Comedy, Drama",96,94
246,Gone with the Wind,1939,238,"Drama, History, Romance",90,92
247,It Happened One Night,1934,105,"Comedy, Romance",99,93
248,The Passion of Joan of Arc,1928,114,"Biography, Drama, History",98,93
249,The General,1926,67,"Action, Adventure, Comedy",not found,not_found